name: Deploy Wiki

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"

jobs:
  deploy-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Sync docs to Wiki
        uses: spenserblack/actions-wiki@v0.1.0
        with:
          wiki-directory: docs
          token: ${{ secrets.GITHUB_TOKEN }}
