name: Deploy Wiki

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
  workflow_dispatch:

jobs:
  deploy-wiki:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Validate Markdown
        uses: DavidAnson/markdownlint-cli2-action@v15
        with:
          globs: "docs/**/*.md"

      - name: Upload Wiki
        uses: SwiftDocOrg/github-wiki-action@v1
        with:
          wiki_folder: docs
          launch_args: "--force" # Force push to avoid history conflicts if any
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
